<%- include('../partials/forumHeader'); %>

<h1 style="margin-top: 20px">Edit your post here</h1>

<div class="new-forum">
    <form action="/forums/<%= forum._id %>?_method=PUT" method="POST" class="new-forum-form">
        <div class="new-forum-title">
            <p class="form-title">Title</p>
            <hr>
            <p class="form-descriptor">Please be specific | Imagine you're asking a question to another person</p>
            <input type="text" class="form-control" name="title" value="<%= forum.title %>">
        </div>
        <div class="new-forum-content">
            <p class="form-title">Body</p>
            <hr>
            <p class="form-descriptor">Include all information someone might need to respond effectively</p>
            <textarea name="content" class="form-control"><%= forum.content %></textarea>
        </div>
        <div class="new-forum-tags">
            <p class="form-title">Tags</p>
            <hr>
            <p class="form-descriptor">Add tags to link to your question</p>
            <input type="text" class="form-control" name="tags" value="<%= forum.tags %>">
        </div>
</div>
    <div class="new-edit-buttons">
        <a class="btn btn-danger new-forum-button" href="/forums/<%= forum._id %>">Cancel</a>
        <input type="submit" class="new-forum-button btn btn-primary" value="Edit your post">
    </div>
    </form>

<small id="copyright">Copyright &copy; 2021, Developer Forums. All Rights Reserved</small>

<%- include('../partials/footer'); %>