<%- include('../partials/forumHeader'); %>

<a href="/forums/<%= forum._id %>">Cancel editing</a>

<h1>Edit your post here</h1>

<div class="edit-forum">
    <form action="/forums/<%= forum._id %>?_method=PUT" method="POST" class="new-forum-form">
        <div>
            <p class="form-title">Title</p>
            <p class="form-descriptor">Please be specific | Imagine you're asking a question to another person</p>
            <input type="text" name="title" value="<%= title %>">
        </div>
        <div>
            <p class="form-title">Body</p>
            <p class="form-descriptor">Include all information someone might need to respond effectively</p>
            <textarea name="content" cols="30" rows="10"><%= forum.content %></textarea>
        </div>
        <div>
            <p class="form-title">Tags</p>
            <p class="form-descriptor">Add tags to link to your question</p>
            <input type="text" name="tags" value="<%= forum.tags %>">
        </div>
        <input type="submit" value="Update your post">
    </form>
</div>

<small id="copyright">Copyright &copy; 2021, Developer Forums. All Rights Reserved</small>

<%- include('../partials/footer'); %>