<%- include('../partials/forumHeader'); %>

<div class="big-container">
    <div class="smaller-container">
        <div class="forum-post">
            <h1><%= title %></h1>
            <p class="create-timestamp">Posted <%= forums.createdAt.toLocaleString() %></p>
            <hr>
            <p><%= forums.content %></p>
            <br>
            <p class="tags">Tags: <%= forums.tags %></p>
        </div>
        <a href="/forums/<%= forums._id %>/edit">Edit this forum</a>

    <!-- begin comments show section -->

        <% if (forums.responses.length) { %>
            <% let total = 0; %>
            <% forums.responses.forEach((response) => { %> 
                <% total += response.rating; %> 
                <div class="response-post">
                    <form action="/responses/<%= response._id %>?_method=DELETE" method="post">
                        <button type="submit" class="delete-button btn btn-danger">X</button>
                    </form>
                    <p class="create-timestamp">Posted <%= response.createdAt.toLocaleString() %></p>
                    <hr>
                    <p>Rating: <%= response.rating %></p>
                    <p><%= response.content %></p>
                    <form action="/responses/<%= response._id %>/edit" method="get">
                        <button class="edit-response-button btn btn-primary">Edit</button>
                    </form>
                </div>
                <% }) %>
    </div>
        <h3 style="margin-top: 20px">Was this question helpful? (<%= (total / forums.responses.length).toFixed(1) %>/5)</h3>
        <% } else { %> 
            <h4>No responses yet</h4>     
        <% }; %>
    <!-- begin commments form section to create a new comment and rating -->

    <h2 style="margin-top: 30px">Add a response:</h2>
    <form action="/forums/<%= forums._id %>/responses" method="post" class="response-form" class="response-form">
        <label>Response:
            <textarea class="form-control" name="content"></textarea>
        </label>
        <label>How helpful was this question?
            <select name="rating" class="form-control response-option">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <input type="submit" class="btn btn-primary" value="Add Response">
    </form>
    <small id="copyright">Copyright &copy; 2021, Developer Forums. All Rights Reserved</small>
</div>


<%- include('../partials/footer'); %>